apiVersion: apps/v1
kind: Deployment
metadata:
  name: ged-frontend
  namespace: ged
  labels:
    app: ged
    component: frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: ged
      component: frontend
  template:
    metadata:
      labels:
        app: ged
        component: frontend
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 101
        fsGroup: 101
      containers:
        - name: frontend
          image: registry.education.gov.ma/ged/frontend:latest
          ports:
            - containerPort: 3000
              protocol: TCP
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "128Mi"
              cpu: "200m"
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: ged-frontend
  namespace: ged
spec:
  selector:
    app: ged
    component: frontend
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
  type: ClusterIP
